*{ box-sizing:border-box; }

body{
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size:25px;
	margin:0;
	padding:0;
}

.h1, h2{
	font-size:25px;
	padding:3px;
	margin-top:12px;
	font-weight:normal;
	border: 2px solid black;
}

h3{
	font-size:18px;
	padding:3px;
	margin-top:8px;
	font-weight:normal;
	width:250px;
	margin-bottom:5px;
}

a.title:link{
	text-decoration: none;
	color:#000;
}
a.title:visited{
	text-decoration: none;
	color:#000;
}

a.title:hover{
	border: 2px solid #000;
	border-radius:25px;
	padding:3px;
	background-color: yellow;
}


nav{
	margin-top:-12px;
	margin-left:-25px;
	width:250px;
	position:absolute;
	display:inline-block;
}


.boxed{
	padding:3px;
	border: 2px solid #000;
}

.boxed-circle{
	padding:5px;
	position:relative;
	top:-6px;
	border: 2px solid #000;
	border-radius:25px;
}



a.a-nav:link {
    text-decoration:none;
 	color:#000;
	border:1px solid transparent;
}

a.a-nav:visited {
    color:#000;
}

a.a-nav:active {
    border: 1px solid blue;
}

a.b-nav:link {
    text-decoration:none;
	color:#000;
	margin:0;
}

.hidden{
	visibility:hidden;
}

a.b-nav:hover{
	text-decoration:none;
	background-color:yellow;
}
a.b-nav:visited{
	text-decoration:none;
	background-color:none;
	color:#000;
}

li{
	display:inline-block;
	list-style-type:none;
}

.container-wrapper{
	margin-top:8px;
	margin-left:285px;
	display:inline-block;
	width:618px;
}

.container{
	width:612px;
	height: 612px;
	font-size:0;
	padding:2px;
	background-color: #000;
	display:inline-block;
}

.box{
	width:120px;
	height:120px;
	display:inline-block;
	margin-right:2px;
	margin-top:2px;
	background-color:#fff;
}

.box-one{
	width:120px;
	height:120px;
	display:inline-block;
	margin-right:2px;
	background-color:#fff;
}

.box-right{
	display:inline-block;
	width:120px;
	height:120px;
	margin-top:2px;
	padding:10px;
	background-color:#fff;
}

.e{
	display:inline-block;
	width:120px;
	height:120px;
	background-color:#fff;
}

.ceramics{
	background-color:#989898;
}

a.ceramics:hover {
	background:url("../img/textures/ceramic-bw.png");
}

.wax{
	background-color: #383838;
}

a.wax:hover {
	background:url("../img/textures/wax-bw.png");
}

.paper{
	background-color: #e0e0e0;
}

a.paper:hover {
	background:url("../img/textures/paper-bw.png");
}

.pp{
	background-color: #585858;
}

a.pp:hover {
	background:url("../img/textures/pp.png");
}

.hdpe{
	background-color: #707070;
}

a.hdpe:hover {
	background:url("../img/textures/hdpe.jpg");
}

.other{
	background-color: #484848;
}

a.other:hover {
	background:url("../img/textures/other.png");
}

.metal{
	background-color: #989898;
}

a.metal:hover {
	background:url("../img/textures/metal.jpg");
}

.misc{
	background-color: #383838;
}

a.misc:hover {
	background:url("../img/textures/misc.jpg");
}

a.cotton{
	background: #f8f8f8;
}

a.cotton:hover {
	background:url("../img/textures/cotton-bw.jpg");
}

a.pete{
	background: #c0c0c0;
}

a.pete:hover {
	background:url("../img/textures/pete.jpg");
}

.amethyst{
	background: #383838;
}

a.amethyst:hover {
	background:url("../img/textures/crystals.jpg");
}

a.glass:hover {
	background:url("../img/textures/glass.jpg");
}

a.glass {
	background:#585858;
}

a.leather:hover {
	background:url("../img/textures/leather.png");
}

a.leather{
	background:#909090;
}

a.electronics:hover {
	background:url("../img/textures/electronics-bw.png");
}

a.electronics{
	background:#383838;
}

img{
	max-width:250px;
	margin:10px;
}

.item-container{
	padding:5px;
	width:120px;
	height:120px;
}

.key-container{
	width:200px;
	margin-top:0px;
	border-top:0px;
	display:inline-block;

}

.arrow-bar{
   width:2px;
   height:595px;
   background-color: #000;
   left:950px;
   top:10px;
   position:absolute;
}

.arrow-bar-hor{
   width:600px;
   height:2px;
   left:280px;
   top:670px;
   background-color: #000;
   position:absolute;
}

.arrow-right{
	width:0px;
	height:0px;
	border-bottom:10px solid transparent;
	border-top:10px solid transparent;
	border-left:15px solid #000;
	left:590px;
	top:-10px;
	position:absolute;
}

.arrow-down{
	width:0px;
	height:0px;
	border-bottom:10px solid transparent;
	border-top:10px solid transparent;
	border-left:15px solid #000;
	transform:rotate(90deg);
	top:580px;
	left:-6px;
	position:absolute;
}

.key-text{
	width:500px;
	font-size: 18px;
	margin-left:-470px;
	display:inline-block;
}

.about-container{
	width:232px;
	height:800px;
	left:15px;
	top:153px;
	font-size:13px;
	position:absolute;
	display:inline-block;
	line-height:1.2em;
}

.footer{
	padding-bottom:110px;
}