*{ box-sizing:border-box; }

body{
	font-family: Arial, sans-serif;
	font-size:24px;

}
.header{
	position:fixed;
	z-index:1;
	text-shadow:0 0 5px #fff;
	background-color:#fff;
	opacity:0.8;
	width:1800px;
	top:0;
	left:0;
}

.img-wrap{
	margin-top:-150px;
	margin-left:-120px;
}



.container-back{
	position:absolute;
	top:400px;
	margin-left:-47px;
	transform: rotate(-90deg);
	transform-origin: left top;
}
 

.top-nav{
	padding-left:70px;
	padding-top:10px;
}

.nav{
	margin-right:10px;
	margin-bottom:10px;
}

.boxed{
	padding:5px;
	border: 1px solid black;
}

a.a-nav:link {
    text-decoration:none;
	color:#000;
	border:1px solid transparent;
}


a.a-nav:visited {
    color:#000;
}


a.a-nav:hover {
    border: 1px solid red;
}


a.a-nav:active {
    border: 1px solid blue;
}

li{
	display:inline-block;
	list-style-type:none;
}