body{
	margin:0;
	padding:50px;
	font-size:0;
	background-color:#F8E71C;
}

/*==============wrapper===============*/
.letter{
	width:35px;
	height:54px;
	position:relative;
	z-index:1;
	display:inline-block;
}

.hide{ display: none; }

.shadow-wrap{
	position:absolute;
	display: inline-block;
}

.letter-wrapper{
	display:inline-block;
	margin: 0 15px 30px 15px;
	width:40px;
	position:relative;
}
.baseline{
	display:inline-block;
	width:500px;
	height:54px;
	
}

.blur-case{
	position:relative;
	left:700px;
	top:-340px;
	-webkit-filter:blur(4px);
}