p{

	font-family: times,serif;
	font-size:50px;
	color:black;

}


.container{

	margin-left: 33%;

}

.container-2{

	margin-left: 45%;
	padding-top: 5%;

}

.container-3{

	margin-left: 25%;
	padding-top: 5%;

}

.container-4{

	margin-left: 50%;
	padding-top: 30%;

}


a{
	text-decoration:none;
}

a:visited{
	color:black;
}

a:hover{
	color:blue;
}


.img-container{

	margin-left:30%;
}

.img-container-2{

	margin-left:50%;

}

.img-container-3{

	margin-left:10%;

}

.img-container-4{

	margin-left:40%;

}



body{

	overflow:hidden;
}

