
.word-wrapper{
	display:inline-block;
	margin-right:60px;
}

.letter{
	width:150px;
	height:200px;
	position:relative;
	display:inline-block;
}

.letter-wrapper{
	display:inline-block;
	margin: 0 15px 60px 15px;
}

.bar{position:absolute;}
.vertical{width:30px; height:200px;}
.horizontal{width:150px;height:30px;}


.red{background-color:#f00;}
.black{background-color: #000;}
.blue{background-color:#00f;}
.yellow{background-color:#ff0;}

.a-left{top:0; left:0; z-index:1;}
.a-right{top:0px; right:0px; z-index:3;}
.a-top{top:0;left:0;z-index:2;}
.a-mid{z-index:4; top:85px; left:0;}

/* Position: absolute, relative, fixed

relative: allows you to position from its original position, shows up relative to where it would show up by default, then allows you to shift its position 

absolute: element is positioned to the page

fixed: element is positioned to the window;

using relative and absolute together: absolute looks for an element that's positioned other than static (default), and makes that element relative to where the absolutely positioned element shows up;


*/