/*============letter parts=============*/
.stem{width:7px;height:54px;}
.short-stem{width:7px;height:40px;}
.shadow{position:absolute;display: inline-block;
	background-color:#0001FF;}
.obj{position:absolute;display: inline-block;
	background-color:#F8E71C;}
.crossbar{width:34px;height:7px;}
.tail{width:8px;height:20px;-webkit-transform:skew(40deg);-moz-transform:skew(40deg);}
.diagonal-stroke{width:7px;height:54px;
	-webkit-transform:skew(30deg);}
.leg-right{width:7px;height:44px;-webkit-transform:skew(20deg);
	-moz-transform:skew(20deg);-o-transform:skew(20deg);}
.leg-left{width:7px;height:44px;-webkit-transform:skew(-20deg);-moz-transform: skew(-20deg);-o-transform:skew(-20deg);}
.short-leg-right{width:8px;height:32px;
	-webkit-transform:skew(40deg);
	-moz-transform:skew(20deg);-o-transform:skew(20deg);}
.short-leg-left{width:8px;height:32px;-webkit-transform:skew(-40deg);-moz-transform: skew(-20deg);-o-transform:skew(-20deg);}
.middle{margin-left:12px;}
.right{margin-left:32px;}
.left{margin-left:-3px;}
.bottom{bottom:0px;}
.low-arm{margin-top:47px;}
.mid-bar{margin-top:24px;}

/*===================A===================*/
.a-top{top:0; left:8.5px;}
.a-left{top:10px; left:0.5px;}
.a-right{top:10px; right:0.5px;}
.a-bar{top:32px;left:1px;}
.a-apex{
	border-bottom: 10px solid blue;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	height: 0;width: 10px;position:absolute;
 	display: inline-block;} 
.a-apex-shadow{
	border-bottom: 10px solid #F8E71C;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	height: 0;width: 10px;position:absolute;
 	display: inline-block;} 
.a-blur{
	filter:blur(5px);
}
/*===================B===================*/
.b-left{top:0px;left:0px;}
.bowl{width:28px; height:25px;position:absolute;
	border-radius: 100%/25px 25px 0 0;top:1px;
	transform:rotate(90deg);}
.bowl-2{width:32px; height:29px;  
  	top:24px;border-radius: 100%/30px 30px 0 0;
 	transform:rotate(90deg);}
.b-counter-1{width:15px;height:15px;
 	border-radius:100%/15px 15px 0 0; top:5px; right:7px;
 	background-color:#F8E71C;position:absolute;}
 .b-counter-2{width:19px;height:19px;
 	border-radius:100%/15px 15px 0 0; top:6px; right:6px;
 	background-color:#F8E71C;position:absolute;}

/*===================C===================*/
.c-bowl{top:0px;right:0px;width:52px;height:50px;
	border-radius:42px 42px 42px 42px;
	transform:rotate(-90deg);}
 .c-counter{width:38px;height:38px;
 	border-radius:30px; top:6px; right:7px;
 	background-color:#F8E71C;position:absolute;}
 .c-counter-gap{
 	width:50px;height:15px;background-color:#F8e71C;
 	position:absolute;bottom:-5px;left:5px;
/*
 	border-bottom: 10px solid #F8E71C;
 	border-left: 4px solid transparent; border-right: 4px solid transparent;
 	height:0;width:16px;position:absolute;display:inline-block;top:42px;left:14px;*/
 }

/*===================D===================*/
.d-bowl{width:52px;height:38px;border-radius:40px 40px 0 0;
	transform:rotate(90deg);position:absolute;top:6px;right:0;}
 .d-counter{width:38px;height:25px;
 	border-radius:30px 30px 0 0; top:6px; right:7px;
 	background-color:#F8E71C;position:absolute;}

/*===================E===================*/

/*===================F===================*/

/*===================G===================*/
.g-part{width:30px;height:7px;
	position:absolute;bottom:7px;z-index:2;left:-1px;}
.g-part-bar{width:7px;height:20px;
	position:absolute;bottom:7px;z-index:1;left:22px;}

/*===================H===================*/

/*===================I===================*/

/*===================J===================*/
.curve{
	width:30px;height:25px;border-top:0px;
	border-radius:0px 0px 45px 45px;position:absolute;
	right:16px;bottom:0px;}
.curve-counter{
	width:16px;height:18px;background-color:#F8e71C;
	border-radius:0px 0px 45px 45px;position:absolute;
	left:7px;top:0px;}

/*===================K===================*/
.k-leg-bottom{position:absolute;top:22px;left:10px;}
.k-leg-top{position:absolute;top:0px;left:10px;}

/*===================L===================*/

/*===================M===================*/
.m-left{left:-16px;}
.m-right{right:0px;}

/*===================N===================*/
.n-right{right:10px;}

/*===================O===================*/
.o-bowl{top:0px;right:0px;width:54px;height:52px;border-radius:42px 42px 42px 42px;
	transform:rotate(-90deg);}
 .o-counter{width:40px;height:38px;
 	border-radius:30px 30px 30px 30px; top:7px; right:7px;
 	background-color:#F8E71C;position:absolute;}

/*===================P===================*/
.p-bowl{width:30px; height:27px;position:absolute;
	border-radius: 100%/25px 25px 0 0;top:1px;
	transform:rotate(90deg);}
.p-counter{width:16px;height:16px;
 	border-radius:100%/15px 15px 0 0; top:5px; right:7px;
 	background-color:#F8E71C;position:absolute;}
 
/*===================Q===================*/
.q-tail{position:absolute;left:15px;top:35px;}

/*===================R===================*/
.p-bowl{width:30px; height:27px;position:absolute;
	border-radius: 100%/25px 25px 0 0;top:1px;
	transform:rotate(90deg);}
.p-counter{width:16px;height:16px;
 	border-radius:100%/15px 15px 0 0; top:5px; right:7px;
 	background-color:#F8E71C;position:absolute;}
.r-leg-bottom{position:absolute;top:22px;left:13px;}

/*===================S===================*/
.s-diag{width:8px;height:15px;
	-webkit-transform:skew(55deg);
	-moz-transform:skew(20deg);-o-transform:skew(20deg);
	position:absolute;top:20px;left:0px;}

.curve-s{
	width:30px;height:20px;border-top:0px;
	border-radius:0px 0px 45px 45px;position:absolute;
	right:16px;bottom:0px;}
.curve-counter-s{
	width:16px;height:14px;background-color:#F8e71C;
	border-radius:0px 0px 45px 45px;position:absolute;
	left:7px;top:0px;}

.curve-top{
	width:30px;height:20px;border-top:0px;
	border-radius:0px 0px 45px 45px;position:absolute;
	right:16px;bottom:0px;-webkit-transform:rotate(180deg);top:0px;}
.curve-top-counter{
	width:16px;height:14px;background-color:#F8e71C;
	border-radius:0px 0px 45px 45px;position:absolute;
	left:7px;top:0px;}

/*===================T===================*/
.crossbar-t{width:40px;height:7px;}
.middle-t{margin-left:15px;}
 

/*===================V===================*/
.v-left{top:0px;left:-8px;}
.v-right{top:0;left:19px;}
.v-apex{
	border-bottom: 10px solid blue;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	height:0; width:10px; transform:rotate(180deg);
	position:absolute; display: inline-block;}

/*===================W===================*/
.w-left{top:0px;left:0px;}
.w-right{top:0;left:20px;position:absolute;}
.w-bottom{top:44px;}

/*===================X===================*/
.leg-right-x{width:8px;height:54px;-webkit-transform:skew(35deg);
	-moz-transform:skew(20deg);-o-transform:skew(20deg);}
.leg-left-x{width:8px;height:54px;-webkit-transform:skew(-35deg);-moz-transform: skew(-20deg);-o-transform:skew(-20deg);}
.x{left:20px;}

/*===================Y===================*/
.leg-bottom-y{position:absolute;top:0px;left:-2px;}
.leg-top-y{position:absolute;top:0px;left:11px;}
.short-leg-right-y{width:8px;height:25px;
	-webkit-transform:skew(30deg);
	-moz-transform:skew(20deg);-o-transform:skew(20deg);}
.short-leg-left-y{width:8px;height:25px;-webkit-transform:skew(-30deg);-moz-transform: skew(-20deg);-o-transform:skew(-20deg);}
.y-stem{left:5px;top:15px;}



