/*============letter parts=============*/
.stem{width:8px;height:54px;}
.short-stem{width:8px;height:40px;}
.part{position:absolute;display: inline-block;background-color:#0001FF;}
.crossbar{width:34px;height:8px;}
.diagonal-stroke{width:8px;height:54px;-webkit-transform:skew(30deg);}
.leg-right{width:8px;height:44px;-webkit-transform:skew(20deg);
	-moz-transform:skew(20deg);-o-transform:skew(20deg);}
.leg-left{width:8px;height:44px;-webkit-transform:skew(-20deg);-moz-transform: skew(-20deg);-o-transform:skew(-20deg);}
.middle{margin-left:12px;}
.right{margin-left:32px;}
.left{margin-left:-3px;}
.bottom{bottom:0px;}
.low-arm{margin-top:46px;}
.mid-bar{margin-top:24px;}

/*===================A===================*/
.a-top{top:0; left:8.5px;}
.a-left{top:10px; left:0.5px;}
.a-right{top:10px; right:0.5px;}
.a-bar{top:32px;left:1px;}
.a-apex{
	border-bottom: 10px solid blue;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	height: 0;width: 10px;position:absolute;
 	display: inline-block;} 

/*===================B===================*/
.b-left{top:0px;left:0px;}
.b-bowl{top:2px;left:0px;}
.bowl{width:25px; height:25px;
	border:solid 1px blue;top:0px;
	border-radius: 100%/25px 25px 0 0;
	transform:rotate(90deg);}
.bowl-2{width:30px; height:30px;  
 	border:solid 1px transparent;
  	top:23px;border-radius: 100%/30px 30px 0 0;
 	transform:rotate(90deg);}
.b-counter-1{width:11px;height:11px;border:solid 1px transparent;
 	border-radius:100%/10px 10px 0 0; top:6px; right:6px;
 	background-color:#F8E71C;position:absolute;}
 .b-counter-2{width:16px;height:15px;border:solid 1px transparent;
 	border-radius:100%/15px 15px 0 0; top:7px; right:6.5px;
 	background-color:#F8E71C;position:absolute;}

/*===================C===================*/
.c-bowl{top:0px;right:0px;width:54px;height:52px;border:solid 1px 
	transparent;border-radius:42px 42px 42px 42px;
	transform:rotate(-90deg);}
 .c-counter{width:38px;height:40px;
 	border-radius:30px 30px 30px 30px; top:7px; right:8px;
 	background-color:#F8E71C;position:absolute;}
 .c-counter-gap{
 	width:50px;height:15px;background-color:#F8e71C;position:absolute;bottom:-6px;
 	left:5px;
/*
 	border-bottom: 10px solid #F8E71C;
 	border-left: 4px solid transparent; border-right: 4px solid transparent;
 	height:0;width:16px;position:absolute;display:inline-block;top:42px;left:14px;*/
 }

/*===================D===================*/
.d-bowl{width:52px;height:40px;border:solid 1px 
	transparent;border-radius:40px 40px 0 0;
	transform:rotate(90deg);position:absolute;top:6px;right:0;}
 .d-counter{width:35px;height:24px;border:solid 1px transparent;
 	border-radius:30px 30px 0 0; top:7px; right:8px;
 	background-color:#F8E71C;position:absolute;}

/*===================E===================*/

/*===================F===================*/

/*===================G===================*/
.g-part{width:30px;height:8px;
	position:absolute;bottom:7px;z-index:2;left:-1px;}
.g-part-bar{width:8px;height:20px;
	position:absolute;bottom:7px;z-index:1;left:22px;}

/*===================H===================*/

/*===================I===================*/

/*===================J===================*/
.curve{
	width:30px;height:25px;border-top:0px;
	border-radius:0px 0px 45px 45px;position:absolute;
	right:15px;bottom:0px;}
.curve-counter{
	width:14px;height:18px;background-color:#F8e71C;
	border-radius:0px 0px 45px 45px;position:absolute;
	left:8px;top:0px;}

/*===================K===================*/

/*===================L===================*/

/*===================M===================*/
.m-left{left:-16px;}
.m-right{right:0px;}

/*===================N===================*/
.n-right{right:10px;}

/*===================O===================*/
.o-bowl{top:0px;right:0px;width:54px;height:52px;border:solid 1px 
	transparent;border-radius:42px 42px 42px 42px;
	transform:rotate(-90deg);}
 .o-counter{width:40px;height:38px;
 	border-radius:30px 30px 30px 30px; top:7px; right:7px;
 	background-color:#F8E71C;position:absolute;}

 

/*===================V===================*/
.v-left{top:0px;left:-8px;}
.v-right{top:0;left:18px;}
.v-apex{
	border-bottom: 10px solid blue;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	height:0; width:10px; transform:rotate(180deg);
	position:absolute; display: inline-block;}




