body{
	font-family:'Roboto',sans-serif;
	font-size:24px;
	background-color:#000;
	color:#fff;
}


ol{
	list-style:none;
	line-height:140%;
}

.wrapper{
	margin-left:350px;
	margin-top:150px;
}

.button{
	border: 5px solid #fff;
	display:inline-block;
	border-radius:25px;
	padding:3px;
	margin-right:50px;
}

.button-2{
	border: 3px solid #fff;
	display:inline-block;
	border-radius:25px;
	padding:8px;
	margin-right:50px;
}

.classes{
	font-size:100px;
}

a:link{
	text-decoration:none;
}

a:visited{
	color:#fff;
}

a:hover{
	color:yellow;
}

a:active{
	color:red;
}
