body{
	background-color:#d8d8d8;
}

p{
	font-family:Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size:32px;
	width:770px;
	line-height:38px;
	color:black;
}

.title{
	font-family:Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size:310px;
	color:black;
	position: relative;
}

.unjumble-container{
	background-color:#F8E71C;
	width:700px;
	height:200px;
	padding-left:70px;
	padding-bottom:280px;
	margin-left:350px;
	margin-top:150px;
	position: relative;
	z-index:3;

}

.opacity{
	opacity:0.5;
}

.random{
	font-size:24px;
	font-family:Futura Std, 'Trebuchet MS', Arial, sans-serif;
	font-weight:light;color:white;
	position:absolute;
	z-index:1;
}

.random{left:10px;top:10px;position:absolute;}

.hidden{display:none;}

.paragraph-container{
	padding-left:320px;
	padding-top:150px;
	position:relative;
}

a{
	text-decoration: none;
	-moz-transition: none;
    -webkit-transition: none;
    transition: none;
    color:black;
	
}

a:visited{
	color:black;
}

.random{
	font-size:24px;
	font-family:Futura Std, 'Trebuchet MS', Arial, sans-serif;
	font-weight:light;
	color:white;
	position:absolute;
	width:110px;
	height:32px;
	z-index:5;
}

.outer {
  position: relative;
}

.outer:hover .inner {
  display: inline-block;
}

.outer:hover .inner-title {
  display: inline-block;
}

.inner {
  position: absolute;
  top:0;
  left:0;
  right:0;
  height:44px;
  display: none;
  pointer-events: none;
}

.inner-title{
	background-color:#F8E71C;
	position: absolute;
	width:700px;
	height:400px;
  	top:-4px;
  	left:0;
  	right:0;
  	display: none;
  	pointer-events: none;
}

.inner-1:hover{width:10px;background-color:black;}

.inner-2{width:30px;background-color:black;}

.inner-2-1{width:23px;background-color:black;}

.inner-2-2{width:38px;background-color:black;}

.inner-3{width:56px;background-color:black;}

.inner-3-1{width:44px;background-color:black;}

.inner-3-2{width:48px;background-color:black;}

.inner-4{width:62px;background-color: black;}

.inner-4-1{width:74px;background-color: black;}

.inner-4-2{width:54px;background-color: black;}

.inner-5{width:80px;background-color:#50E3C2;padding-left:15px;}

.inner-5-1{width:71px;background-color:#50E3C2;padding-left:10px;}

.inner-5-2{width:44px;background-color:#50E3C2;padding-left:8px;}

.inner-5-4{width:75px;background-color:#50E3C2;padding-left:12px;}

.inner-5-3{width:67px;background-color:#50E3C2;padding-left:4px;}

.inner-6{width:83px;background-color:#4A90E2;padding-left:20px;}

.inner-6-1{width:78px;background-color:#4A90E2;padding-left:20px;}

.inner-6-2{width:70px;background-color:#4A90E2;padding-left:5px;}

.inner-7{width:88px;padding-left:25px;background-color:#F8E71C;}

.inner-7-1{width:72px;padding-left:15px;background-color:#F8E71C;}

.inner-7-2{width:95px;padding-left:25px;background-color:#F8E71C;}

.inner-8{width:92px;padding-left:30px;background-color:#B8E986;}

.inner-9{width:105px;padding-left:45px;background-color: #C286E9;}

.inner-9-1{width:115px;padding-left:50px;background-color: #C286E9;}

.inner-9-2{width:95px;padding-left:50px;background-color: #C286E9;}

.inner-10{width:115px;padding-left:45px;background-color: #F5A623;}

.inner-10-1{width:105px;padding-left:40px;background-color: #F5A623;}

