*{ box-sizing:border-box; }

body{
	font-family: Arial, sans-serif;
	font-size:24px;

}
.header{
	position:fixed;
	z-index:1;
	text-shadow:0 0 5px #fff;
	background-color:#fff;
	opacity:0.8;
	width:1800px;
	top:0;
	left:0;
}

img{
	max-width:10px;
}

.container-back{
	position:absolute;
	top:400px;
	margin-left:-47px;
	transform: rotate(-90deg);
	transform-origin: left top;
}
 

.top-nav{
	padding-left:70px;
	padding-top:10px;
}

.nav{
	margin-right:10px;
	margin-bottom:10px;
}

.boxed{
	padding:5px;
	border: 1px solid black;
}

a.a-nav:link {
    text-decoration:none;
	color:#000;
	border:1px solid transparent;
}


a.a-nav:visited {
    color:#000;
}


a.a-nav:hover {
    border: 1px solid red;
}


a.a-nav:active {
    border: 1px solid blue;
}

li{
	display:inline-block;
	list-style-type:none;
}

.container-wrapper{
	position:relative;
	padding-left:100px;
	padding-top:85px;
}

.container{
	width:798px;
	height:753px;
	padding:1px;
	font-size:0;
}

.box{
	width:158px;
	height:150px;
	display:inline-block;
	margin-right:1px;
}

.box-right{
	display:inline-block;
	width:159px;
	height:150px;
	padding:10px;
	position:relative;
}

.paper-e{
	display:inline-block;
	width:159px;
	height:150px;
	background-color:#f3eff6
}

.ceramics{
	background-color:#ede3e8;
}

.wax{
	background-color:#f9f1f7
}

.paper{
	background-color:#f3eff6
}

.pp{
	background-color:#ede1ef
}

.hdpe{
	background-color:#ebe3ee
}

.other{
	background-color:#e3d7e7;
}

.metal{
	background-color: #dbcce0
}

.misc{
	background-color:#d9c0ce;
}

.cotton{
	background-color: #e0cbd6;
}

.pete{
	background-color: #d7c1d3;
}

.amethyst{
	background-color: #f8f1f8;
}

.glass{
	background-color:#f5edee;
}

.shoes{
	background-color:#e1cbda;
}

.electronics{
	background-color:#e7d7df;
}

.hand-warm{
	background-color: #d4c0d9;
}


.item-container{
	padding:5px;
	position:absolute;
	width:300px;
	height:300px;
	display:inline-block;
}

a{
	display:inline-block;
	background-repeat:no-repeat;
	margin-right:2px;
	margin-bottom:2px;
	max-width:10%;
	max-height:10%;
}

a.teapot{
	width:256px;
	height:250px;
	background:url("../../images/1a/ceramic.png");
	background-position:0px 0px;
}

a.teapot:hover {
	background-position:-250px 0px;
	transition-delay:100ms;

}

a.candle{
	width:72.39px;
	height:150px;
	background:url("../../images/1b/candles.png");
	background-position:0px 0px;
}

a:hover {
	background-position:-80px 0px;
	transition-delay:100ms;

}

a.candle-2{
	width:100px;
	height:150px;
	background:url("../../images/1b/candles-2.png");
	background-position:0px 0px;
}

a.candle-2:hover {
	background-position:-100px 0px;
	transition-delay:100ms;

}

a.books-abeyaro-1{
	width:70px;
	height:92px;
	background:url("../../images/1c/abeyaro-1.png");
	background-position:0px 0px;
}

a.books-abeyaro-1:hover {
	background-position:-70px 0px;
	transition-delay:100ms;

}

a.books-abeyaro-2{
	width:70px;
	height:92px;
	background:url("../../images/1c/abeyaro-2.png");
	background-position:0px 0px;
}

a.books-abeyaro-2:hover {
	background-position:-70px 0px;
	transition-delay:100ms;

}

a.books-abeyaro-3{
	width:70px;
	height:92px;
	background:url("../../images/1c/abeyaro-3.png");
	background-position:0px 0px;
}

a.books-abeyaro-3:hover {
	background-position:-70px 0px;
	transition-delay:100ms;

}

a.books-abeyaro-4{
	width:70px;
	height:92px;
	background:url("../../images/1c/abeyaro-4.png");
	background-position:0px 0px;
}

a.books-abeyaro-4:hover {
	background-position:-70px 0px;
	transition-delay:100ms;

}

a.books-abeyaro-6{
	width:70px;
	height:92px;
	background:url("../../images/1c/abeyaro-6.png");
	background-position:0px 0px;
}

a.books-abeyaro-6:hover {
	background-position:-70px 0px;
	transition-delay:100ms;

}

a.books-abeyaro-8{
	width:70px;
	height:92px;
	background:url("../../images/1c/abeyaro-8.png");
	background-position:0px 0px;
}

a.books-abeyaro-8:hover {
	background-position:-70px 0px;
	transition-delay:100ms;

}

a.books-abeyaro-10{
	width:70px;
	height:92px;
	background:url("../../images/1c/abeyaro-10.png");
	background-position:0px 0px;
}

a.books-abeyaro-10:hover {
	background-position:-70px 0px;
	transition-delay:100ms;

}

a.books-1q84{
	width:70px;
	height:92px;
	background:url("../../images/1c/1q84.png");
	background-position:0px 0px;
}
a.books-1q84:hover {
	background-position:-70px 0px;
	transition-delay:100ms;

}

a.books-akira{
	width:70px;
	height:92px;
	background:url("../../images/1c/akira.png");
	background-position:0px 0px;
}
a.books-akira:hover {
	background-position:-70px 0px;
	transition-delay:100ms;

}

a.books-inferno{
	width:70px;
	height:92px;
	background:url("../../images/1c/inferno.png");
	background-position:0px 0px;
}
a.books-inferno:hover {
	background-position:-70px 0px;
	transition-delay:100ms;

}

a.books-dog{
	width:70px;
	height:92px;
	background:url("../../images/1c/dog.png");
	background-position:0px 0px;
}
a.books-dog:hover {
	background-position:-70px 0px;
	transition-delay:100ms;

}

a.books-guide{
	width:70px;
	height:92px;
	background:url("../../images/1c/guide.png");
	background-position:0px 0px;
}
a.books-guide:hover {
	background-position:-70px 0px;
	transition-delay:100ms;

}

a.books-annetyler{
	width:70px;
	height:92px;
	background:url("../../images/1e/annetyler.png");
	background-position:0px 0px;
}

a.books-annetyler:hover {
	background-position:-70px 0px;
	transition-delay:100ms;

}

a.books-asleep{
	width:70px;
	height:92px;
	background:url("../../images/1e/thumbnails/asleep.png");
	background-position:0px 0px;
}

a.books-asleep:hover {
	background-position:-70px 0px;
	transition-delay:100ms;

}

a.books-detail{
	width:70px;
	height:92px;
	background:url("../../images/1e/thumbnails/detail.png");
	background-position:0px 0px;
}

a.books-detail:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.books-dictionary{
	width:70px;
	height:92px;
	background:url("../../images/1e/thumbnails/dictionary.png");
	background-position:0px 0px;
}

a.books-dictionary:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.books-style{
	width:70px;
	height:92px;
	background:url("../../images/1e/thumbnails/style.png");
	background-position:0px 0px;
}

a.books-style:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.books-budapest{
	width:70px;
	height:92px;
	background:url("../../images/1e/thumbnails/budapest.png");
	background-position:0px 0px;
}

a.books-budapest:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.books-kurt{
	width:70px;
	height:92px;
	background:url("../../images/1e/thumbnails/kurt.png");
	background-position:0px 0px;
}

a.books-kurt:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.books-earth{
	width:70px;
	height:92px;
	background:url("../../images/1e/thumbnails/earth.png");
	background-position:0px 0px;
}

a.books-earth:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.books-modern{
	width:70px;
	height:92px;
	background:url("../../images/1e/thumbnails/modern.png");
	background-position:0px 0px;
}

a.books-modern:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.books-alchemist{
	width:70px;
	height:92px;
	background:url("../../images/1e/thumbnails/alchemist.png");
	background-position:0px 0px;
}

a.books-alchemist:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.books-unbearable{
	width:70px;
	height:92px;
	background:url("../../images/1e/thumbnails/unbearable.png");
	background-position:0px 0px;
}

a.books-unbearable:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.books-godot{
	width:70px;
	height:92px;
	background:url("../../images/1e/thumbnails/godot.png");
	background-position:0px 0px;
}

a.books-godot:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.books-farewell{
	width:70px;
	height:92px;
	background:url("../../images/2a/farewell.png");
	background-position:0px 0px;
}

a.books-farewell:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.books-blindwillow{
	width:70px;
	height:92px;
	background:url("../../images/2a/blindwillow.png");
	background-position:0px 0px;
}

a.books-blindwillow:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}
a.books-catcher{
	width:70px;
	height:92px;
	background:url("../../images/2a/catcher.png");
	background-position:0px 0px;
}

a.books-catcher:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}
a.books-lolita{
	width:70px;
	height:92px;
	background:url("../../images/2a/lolita.png");
	background-position:0px 0px;
}

a.books-lolita:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.books-norwegian{
	width:70px;
	height:92px;
	background:url("../../images/2a/norwegian.png");
	background-position:0px 0px;
}

a.books-norwegian:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.books-onehundred{
	width:70px;
	height:92px;
	background:url("../../images/2a/onehundred.png");
	background-position:0px 0px;
}

a.books-onehundred:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.books-perfume{
	width:70px;
	height:92px;
	background:url("../../images/2a/perfume.png");
	background-position:0px 0px;
}

a.books-perfume:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.books-south{
	width:70px;
	height:92px;
	background:url("../../images/2a/south.png");
	background-position:0px 0px;
}

a.books-south:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.books-elephant{
	width:70px;
	height:92px;
	background:url("../../images/2a/elephant.png");
	background-position:0px 0px;
}

a.books-elephant:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.books-bird{
	width:70px;
	height:92px;
	background:url("../../images/2a/bird.png");
	background-position:0px 0px;
}

a.books-bird:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.books-crucible{
	width:70px;
	height:92px;
	background:url("../../images/2a/crucible.png");
	background-position:0px 0px;
}

a.books-crucible:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}
a.books-dunes{
	width:70px;
	height:92px;
	background:url("../../images/2a/dunes.png");
	background-position:0px 0px;
}

a.books-dunes:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.mujibox{
	width:150px;
	height:150px;
	margin-top:-70px;
	background:url("../../images/1d/mujibox.png");
	background-position:0px 0px;
}

a.mujibox:hover {
	background-position:-150px 0px;
	transition-delay:100ms;
}

a.ppbox{
	width:150px;
	height:150px;
	margin-top:-150px;
	margin-left:140px;
	background:url("../../images/1d/ppbox.png");
	background-position:0px 0px;
}

a.ppbox:hover {
	background-position:-150px 0px;
	transition-delay:100ms;
}

a.drawer{
	width:150px;
	height:150px;
	margin-top:-20px;
	background:url("../../images/1d/drawer.png");
	background-position:0px 0px;
}

a.drawer:hover {
	background-position:-150px 0px;
	transition-delay:100ms;
}

a.hr{
	width:50px;
	height:60px;
	background:url("../../images/2b/hr.png");
	background-position:0px 0px;
}

a.hr:hover {
	background-position:-50px 0px;
	transition-delay:100ms;
}

a.rebel{
	width:40px;
	height:60px;
	background:url("../../images/2b/rebel.png");
	background-position:0px 0px;
}

a.rebel:hover {
	background-position:-40px 0px;
	transition-delay:100ms;
}

a.russian{
	width:40px;
	height:45px;
	background:url("../../images/2b/russian.png");
	background-position:0px 0px;
}

a.russian:hover {
	background-position:-40px 0px;
	transition-delay:100ms;
}
a.naked{
	width:80px;
	height:63px;
	margin-left:20px;
	background:url("../../images/2b/naked.png");
	background-position:0px 0px;
}

a.naked:hover {
	background-position:-80px 0px;
	transition-delay:100ms;
}

a.stain{
	width:70px;
	height:70px;
	margin-left:20px;
	background:url("../../images/2b/stain.png");
	background-position:0px 0px;
}

a.stain:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.sunbum{
	width:43.27px;
	height:100px;
	margin-left:20px;
	background:url("../../images/2b/sunbum-1.png");
	background-position:0px 0px;
}

a.sunbum:hover {
	background-position:-50px 0px;
	transition-delay:100ms;
}

a.nars{
	width:70px;
	height:65px;
	margin-left:20px;
	margin-top:20px;
	background:url("../../images/2b/nars-bronz.png");
	background-position:0px 0px;
}

a.nars:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.drawers{
	width:160px;
	height:126px;
	background:url("../../images/2c/drawers.png");
	background-position:0px 0px;
	margin-top:0px;
	margin-left:10px;
}

a.drawers:hover {
	background-position:-160px 0px;
	transition-delay:100ms;
}

a.bb{
	width:50px;
	height:116px;
	background:url("../../images/2c/bb-1.png");
	background-position:0px 0px;
	margin-top:0px;
	margin-left:10px;
}

a.bb:hover {
	background-position:-50px 0px;
	transition-delay:100ms;
}

a.cc{
	width:25px;
	height:91px;
	background:url("../../images/2c/cc-1.png");
	background-position:0px 0px;
	margin-top:0px;
	margin-left:10px;
}

a.cc:hover {
	background-position:-25px 0px;
	transition-delay:100ms;
}

a.eight{
	width:70px;
	height:150px;
	background:url("../../images/2c/eight-1.png");
	background-position:0px 0px;
	margin-top:0px;
	margin-left:10px;
}

a.eight:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.eyecream{
	width:55px;
	height:60px;
	background:url("../../images/2c/eyes.png");
	background-position:0px 0px;
	margin-top:0px;
}

a.eyecream:hover {
	background-position:-55px 0px;
	transition-delay:100ms;
}

a.greentea{
	width:40px;
	height:92px;
	background:url("../../images/2c/greentea-1.png");
	background-position:0px 0px;
	margin-top:0px;
}

a.greentea:hover {
	background-position:-39px 0px;
	transition-delay:100ms;
}

a.malin{
	width:40px;
	height:106px;
	background:url("../../images/2c/main-1.png");
	background-position:0px 0px;
	margin-top:0px;
}

a.malin:hover {
	background-position:-40px 0px;
	transition-delay:100ms;
}
a.orchid{
	width:50px;
	height:43px;
	background:url("../../images/2c/orchid-1.png");
	background-position:0px 0px;
	margin-top:0px;
}

a.orchid:hover {
	background-position:-50px 0px;
	transition-delay:100ms;
}

a.mirror{
	width:150px;
	height:272px;
	background:url("../../images/2d/mirror.png");
	background-position:0px 0px;
	margin-top:0px;
}

a.mirror:hover {
	background-position:-150px 0px;
	transition-delay:100ms;
}

a.buxom{
	width:70px;
	height:107px;
	background:url("../../images/2e/buxom-1.png");
	background-position:0px 0px;
	margin-top:0px;
}

a.buxom:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.cremein{
	width:40px;
	height:102px;
	background:url("../../images/2e/cremein.png");
	background-position:0px 0px;
	margin-top:0px;
}

a.cremein:hover {
	background-position:-40px 0px;
	transition-delay:100ms;
}

a.korres{
	width:70px;
	height:40px;
	background:url("../../images/2e/korres-1.png");
	background-position:0px 0px;
	margin-top:0px;
}

a.korres:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.liner{
	width:50px;
	height:90px;
	background:url("../../images/2e/liner.png");
	background-position:0px 0px;
	margin-top:0px;
}

a.liner:hover {
	background-position:-50px 0px;
	transition-delay:100ms;
}

a.snoopy{
	width:54px;
	height:107px;
	background:url("../../images/3a/snoopy.png");
	background-position:0px 0px;
	margin-top:0px;
}

a.snoopy:hover {
	background-position:-54px 0px;
	transition-delay:100ms;
}

a.block{
	width:130px;
	height:94px;
	background:url("../../images/3a/block-1.png");
	background-position:0px 0px;
	margin-top:0px;
}

a.block:hover {
	background-position:-120px 0px;
	transition-delay:100ms;
}

a.chartpak{
	width:20px;
	height:130px;
	background:url("../../images/3a/chartpak-1.png");
	background-position:0px 0px;
	margin-top:0px;
}

a.chartpak:hover {
	background-position:-20px 0px;
	transition-delay:100ms;
}

a.dg{
	width:180px;
	height:90px;
	background:url("../../images/3a/dg-1.png");
	background-position:0px 0px;
	margin-top:0px;
}

a.dg:hover {
	background-position:-180px 0px;
	transition-delay:100ms;
}

a.olfa{
	width:150px;
	height:97px;
	background:url("../../images/3a/olfa-1.png");
	background-position:0px 0px;
	margin-left:80px;
	margin-top:-40px;
}

a.olfa:hover {
	background-position:-150px 0px;
	transition-delay:100ms;
}

a.cottonbuds{
	width:70px;
	height:70px;
	background:url("../../images/3b/cotton.png");
	background-position:0px 0px;
}

a.cottonbuds:hover {
	background-position:-70px 0px;
	transition-delay:100ms;
}

a.lavander{
	width:80px;
	height:125px;
	background:url("../../images/3b/lavander.png");
	background-position:0px 0px;
}

a.lavander:hover {
	background-position:-80px 0px;
	transition-delay:100ms;
}

a.murakami{
	width:150px;
	height:225px;
	background:url("../../images/3b/murakami.png");
	margin-left:120px;
	margin-top:-60px;
	background-position:0px 0px;
}

a.murakami:hover {
	background-position:-150px 0px;
	transition-delay:100ms;
}

a.origins{
	width:40px;
	height:100px;
	background:url("../../images/3c/origins-1.png");
	background-position:0px 0px;
}

a.origins:hover {
	background-position:-40px 0px;
	transition-delay:100ms;
}

a.bounce{
	width:180px;
	height:109px;
	background:url("../../images/3c/bounce-1.png");
	margin-left:10px;
	background-position:0px 0px;
}

a.origins:hover {
	background-position:-18px 0px;
	transition-delay:100ms;
}

a.dasoda{
	width:30px;
	height:133px;
	background:url("../../images/3c/dasoda.png");
	margin-left:10px;
	background-position:0px 0px;
}

a.dasoda:hover {
	background-position:-30px 0px;
	transition-delay:100ms;
}

a.amethyst{
	width:203px;
	height:232px;
	background:url("../../images/3d/amethyst-1.png");
	background-position:0px 0px;
	margin-left:60px;
	margin-top:20px;
}

a.amethyst:hover {
	background-position:-203px 0px;
	transition-delay:100ms;
}


a.frame{
	width:170px;
	height:220px;
	background:url("../../images/4c/frame-1.png");
	background-position:0px 0px;
	margin-left:60px;
	margin-top:20px;
}

a.frame:hover {
	background-position:-170px 0px;
	transition-delay:100ms;
}

a.meyers{
	width:115px;
	height:254px;
	background:url("../../images/4b/meyers-1.png");
	background-position:0px 0px;
	margin-left:60px;
	margin-top:20px;
}

a.meyers:hover {
	background-position:-115px 0px;
	transition-delay:100ms;
}

a.camille{
	width:100px;
	height:71px;
	background:url("../../images/4d/camille-1.png");
	background-position:0px 0px;
}

a.camille:hover {
	background-position:-100px 0px;
	transition-delay:100ms;
}

a.greenpumps{
	width:200px;
	height:177px;
	background:url("../../images/4d/greenpumps.png");
	background-position:0px 0px;
}

a.greenpumps:hover {
	background-position:-200px 0px;
	transition-delay:100ms;
}

a.jewett{
	width:150px;
	height:124px;
	background:url("../../images/4d/jewett.png");
	background-position:0px 0px;
	margin-left:150px;
	margin-top:-100px;
}

a.jewett:hover {
	background-position:-150px 0px;
	transition-delay:100ms;
}

.footer{
	padding-bottom:110px;
}